@using Core.Models
@model Doctor

@{
    ViewBag.Title = "Details";
    Layout = "_Layout";
}

@{
    // Get the current date
    var today = DateTime.Today;
    // Get the first day of the current week
    var firstDayOfWeek = today.AddDays(-(int)today.DayOfWeek);
    // Get the first day of the next week
    var nextWeek = firstDayOfWeek.AddDays(7);
}

<style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
</style>

<table>
    <tr>
        @for (int i = 0; i < 7; i++)
        {
            // Get the date for each day of the current week
            var date = firstDayOfWeek.AddDays(i);
            // Format the date as "DayOfWeek dd.MM"
            var formattedDate = date.ToString("dddd dd.MM");
            <th style="text-align: center;">@formattedDate</th>
        }
    </tr>
    <tr>
        @for (int i = 0; i < 7; i++)
        {
            <td style="text-align: center;">
                @for (int j = 0; j < 5; j++)
                {
                    <form asp-area="" asp-controller="Account" asp-action="Register" method="get">
                        <button type="submit" class="nav-link-but">Button @(j + 1)</button><br/>
                    </form>
                }
            </td>
        }
    </tr>
    <tr>
        @for (int i = 0; i < 7; i++)
        {
            // Get the date for each day of the next week
            var date = nextWeek.AddDays(i);
            // Format the date as "DayOfWeek dd.MM"
            var formattedDate = date.ToString("dddd dd.MM");
            <th style="text-align: center;">@formattedDate</th>
        }
    </tr>
    <tr>
        @for (int i = 0; i < 7; i++)
        {
            <td style="text-align: center;">
                @for (int j = 0; j < 5; j++)
                {
                        <form asp-area="" asp-controller="Account" asp-action="Register" method="get">
                            <button type="submit" class="nav-link-but">Button @(j + 1)</button><br/>
                        </form>
                }
            </td>
        }
    </tr>
</table>