.nav-item {
    font-size: 24px;
    font-family: "Anonymous Pro";
}

.navbar-brand{
    margin:0;
}

.nav-link{
    gap:20px
}

.nav-item-greeting {
    font-size: 14px;
    font-family: "Anonymous Pro";
}

.Tooth-header {
    width: 50%;
}
.nav-link-but {
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 24px;
    font-family: "Anonymous Pro";
    background-color: #C0C0C0;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 20px;
}

.nav-link-but:hover{
    background-color: #77dd77;
}

.nav-link-but-log:hover{
    background-color:#f2837c
}

main{
    margin:0;
}

.home-main{
    background-color: #f0f0f0;
}

.Gallery{
    display:flex;
    flex-direction: row;
    width: 100%;
    padding: 100px 0;
    align-items:center;
}

.Gallery-title{
    align-self:center;
    padding: 50px 0;
    font-size: 48px;
    font-family: "Anonymous Pro";
    font-weight: 700;
    text-align: center;
}

.Gallery-item {
    display: flex;
    max-width: 860px;
    margin-left: auto;
    padding-right: 30px;
    border: none;
    border-radius: 5px;
}

.Gallery-photos{
    display:flex;
    flex: 1;
    justify-self: end;
}

.card {
    background: url("https://img.freepik.com/free-vector/gradient-trendy-background_23-2150461016.jpg") center;
    color: #ffffff;
    border-radius: 8px;
    padding: 0,18px;
    width: 244px;
    transition: 0.5s ease;
    overflow: hidden;
    transform: translate(0);
    display:flex;
    justify-self: center;
}

.card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0.85;
    padding-right: 60px
}

.card-info{
    padding: 10px;
}

.card h2{
    text-transform: capitalize;
    text-align: center;
}

.card h4{
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-top: 48px;
    text-align: center;
    justify-content: end;
}

.card-1{
    background-size: cover;
    transform: scale(1.02);
   /* margin-right: 40px;*/
}

.card-1:hover{
    transform: scale(1.11);
    box-shadow: -7px 4px 28px -3px #b527cf;
}

    .card-1::before {
        background: linear-gradient(90deg,#b527cf 0%,#3546f0 100%);
    }

.card-2{
    background-size: cover;
    transform: scale(1.01);
    margin-left: 30px;
}

.card-2:hover{
    transform: scale(1.1);
    box-shadow: -7px 4px 28px -3px #3db9d9;
}

    .card-2::before {
        background: linear-gradient(90deg,#3db9d9 0%,#8035f0 100%);
    }

.box{
    display: flex;
    flex: 1;
    transition: 0.5s;
    max-width: 860px;
}

.box img{
    transition: 0.5s;
    width: 100%;
    height: 512px;
    object-fit:cover;
    filter:grayscale(1);
}

.box:hover{
    flex: 3;
}

.box:hover img{
    filter: grayscale(0);
}

.advantages-list{
    max-width: 1280px;
    margin: 0 auto;
    padding: 150px 0;

}

.advantages-list {
    margin-bottom: 50px;
    font-family: "Anonymous Pro";
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}

.advantageslist-title{
    margin-bottom: 50px;
}

.tab-content-item{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 100px 40px
}

.ad-list-card {
    overflow: visible;
    position: relative;
    max-width: 300px;
    border: 0;
    margin: 0 auto;
}

.ad-card-1{
    background-image: url(/photos/background-card.png);
}

.ad-card-img {
    display: block;
    width: 100%;
    height: 200px;
    object-fit: cover;
    z-index: 1;
}

.ad-card-content {
    padding: 0 5px;
    background: #ffffff;
    border: 1px solid #EAEAEA;
    border-radius: 4px;
    border-top: 0;
    position: relative;
}

.ad-card-text {
    font-size: 12px;
    font-family: inherit;
}
