@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="/css/HomePage.css" />
<main class="home-main">
    <h1 class="Gallery-title">Welcome to the Dental clinic</h1>
    <section class="Gallery">
        <div class="Gallery-item card-container">
            <div class="home-card">
                <h2 class="home-card-title">Lets choose a doctor</h2>
                <p class="home-card-text"></p>
                <form asp-area="" asp-controller="Doctors" asp-action="Index" method="get">
                <button class="home-card-btn">
                    <div class="wrapper">
                        Choose
                        <i class="bi bi-send"></i>
                    </div>
                    <span>Doctor</span>
                </button>
                </form>
                <p class="home-card-text">If you're not logged in just</p>
                <form asp-area="" asp-controller="Account" asp-action="Login" method="get">
                <button class="cssbuttons-io">
                    <span> Log in</span>
                </button>
                </form>
                <p class="home-card-text">don't have account? just <a class="home-card-link nav-link" asp-area="" asp-controller="Account" asp-action="Register">click it</a></p>
            </div>
        </div>
        <div class="Gallery-item Gallery-photos">
            <div class="box">
                <img src="photos/gallery-1.jpg" alt="photo" />
            </div>
            <div class="box">
                <img src="photos/gallery-2.jpg" alt="photo" />
            </div>
            <div class="box">
                <img src="photos/gallery-3.jpg" alt="photo" />
            </div>
        </div>
    </section>
    <section class="advantages-list">
        <h1 class="advantageslist-title">Why treat with us?</h1>
        <div class="tab-content-item">
            <div class="ad-list-card">
                <img src="/photos/ad-card-img-1.png" class="ad-card-img ad-card-1" />
                <div class="ad-card-content">
                    <h5 class="ad-card-title">Dream cure</h5>
                    <p class="ad-card-text">treating with anesthesia</p>
                </div>
            </div>
            <div class="ad-list-card">
                <img src="~/photos/ad-card-img-2.png" class="ad-card-img ad-card-1" />
                <div class="ad-card-content">
                    <h5 class="ad-card-title">Treat the elderly</h5>
                    <p class="ad-card-text">special program for elderly clients</p>
                </div>
            </div>
            <div class="ad-list-card">
                <img src="/photos/ad-card-img-3.png" class="ad-card-img ad-card-1" />
                <div class="ad-card-content">
                    <h5 class="ad-card-title">Treating mothers</h5>
                    <p class="ad-card-text">safely treating mothers</p>
                </div>
            </div>
            <div class="ad-list-card">
                <img src="/photos/ad-card-img-4.png" class="ad-card-img ad-card-1" />
                <div class="ad-card-content">
                    <h5 class="ad-card-title">Permanent guarantee</h5>
                    <p class="ad-card-text">We provide a guarantee for all</p>
                </div>
            </div>
        </div>
    </section>
    <h1 class="tech-title">Newest Technologies</h1>
    <section class="tech">
        <div class="tech-3d">
            <img src="~/photos/tech-1.png" class="tech-img" />
            <p class="tech-text">3D TOMOGRAPHY</p>
        </div>
        <div class="tech-list">
            <div class="tech-tooth">
                <img src="~/photos/tech-2.png" class="tech-img" />
                <p class="tech-text text-2">PEEL-AND-STICK TREATMENT</p>
            </div>
            <div class="tech-micr">
                <img src="~/photos/tech-3.png" class="tech-img" />
                <p class="tech-text">DENTAL MICROSCOPE</p>
            </div>
        </div>
    </section>
</main>

<script src="~/js/site.js"></script>
