@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/HomePage.css" />
<main class="home-main">
<h1 class="Gallery-title">Welcome to the Dental clinic</h1>
<section class="Gallery">
    <div class="Gallery-item card-container">
        <div class="card card-1">
            <h2>Lorem ipsum dolor sit amet</h2>
            <p>
                текст текст текст текст текст текст
            </p>
            <h4>Element</h4>
        </div>
        <div class="card card-2">
            <h2>TEXT</h2>
            <p>
                texttexttexttexttexttexttexttext
            </p>
            <h4>Text</h4>
        </div>
    </div>
    <div class="Gallery-item Gallery-photos">
        <div class="box">
            <img src="photos/gallery-1.jpg" alt="photo" />
        </div>
        <div class="box">
            <img src="photos/gallery-2.jpg" alt="photo" />
        </div>
        <div class="box">
            <img src="photos/gallery-3.jpg" alt="photo" />
        </div>
    </div>
    <section class="">
    </section>
</section>
</main>
